.cart {
    position: relative;
}

.cart__icon {
    cursor: pointer;
}

.cart__icon:active {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.5rem);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

.cart__icon__text__animation {
    animation: cart__icon__text__animation 0.5s ease-in-out;
}

@keyframes cart__icon__text__animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cart__dialog {
    position: absolute;
    width: 400px;
    max-height: 400px;
    left: -400px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .cart__dialog {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-height: initial;
        top: 0;
        left: 0;
        padding: 2rem;
        background-color: #fff;
        z-index: 2;
        padding: 0.5rem 1rem;
    }
    .cart__dialog__close {
        width: 35px;
        height: 35px;
    }
}

.cart__dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cart__dialog__title {
    font-size: 1.5rem;
    font-weight: 300;
}

.cart__dialog__close {
    cursor: pointer;
}

.cart__dialog main {
    display: grid;
    gap: 5px;
}

.cart__dialog__product {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1rem;
}

.cart__dialog__product__name {
    display: grid;
    grid-template-columns: 1fr auto 10px;
    gap: 5px;
}

.cart__dialog__product__name > div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__dialog__product__quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart__dialog footer {
    margin-top: 1rem;
}
