.cart {
    position: relative;
}
.cart__icon__animation {
    animation: shake 0.2s linear;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(5px);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.cart__dialog {
    position: absolute;
    width: 400px;
    max-height: fit-content;
    left: -400px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .cart__dialog {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-height: initial;
        top: 0;
        left: 0;
        padding: 2rem;
        background-color: #fff;
        z-index: 2;
        padding: 0.5rem 1rem;
    }
}

.cart__dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.cart__dialog__header {
    display: grid;
    grid-template-columns: 1fr 50px 50px 68px 26px;
    gap: 10px;
    padding: 10px 0;
    font-weight: 600;
}

.cart__dialog__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.cart__dialog main {
    display: grid;
    gap: 10px;
    max-height: 310px;
    overflow-y: auto;
}

.cart__dialog::-webkit-scrollbar {
    width: 0px;
}

.cart__dialog main:has(> div:nth-child(11)) + footer::before {
    content: '* más productos haciendo scroll';
    position: absolute;
    top: -20px;
    right: 0;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.cart__dialog__product {
    display: grid;
    grid-template-columns: 1fr 50px 50px 68px 26px;
    align-items: center;
    gap: 10px;
}

.cart__dialog__product__name {
    display: grid;
    grid-template-columns: 1fr;
}

.cart__dialog__product__name > div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__dialog__product__quantity {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
}

.cart__dialog footer {
    margin-top: 2rem;
    position: relative;
}

.cart__dialog__header__price,
.cart__dialog__header__size,
.cart__dialog__product__price,
.cart__dialog__product__size,
.cart__dialog__product__delete {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__dialog__product__delete {
    justify-content: end;
}

.footer__total {
    display: grid;
    gap: 5px;
}

.footer__disclaimer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

.footer__disclaimer::before {
    content: '* ';
}

.footer__checkout {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.footer__total__shipping,
.footer__total__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
