.thumbnails__container {
    position: absolute;
    user-select: none;
    width: 60px;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails__item {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.thumbnails__item_active {
    opacity: 0.5;
    user-select: none;
    cursor: not-allowed;
}

.thumbnails__item img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .thumbnails__container {
        width: 40px;
        top: unset;
        bottom: 20px;
    }
    .thumbnails__item {
        width: 40px;
        height: 40px;
        aspect-ratio: 1/1;
    }
}
