.aside {
    background-color: #fff;
    z-index: 1;
    justify-self: start;
    align-self: center;
}

.menu ul {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: small;
}

.menu a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .menu a {
        font-size: 12px;
    }
}
