.container {
    position: relative;
}

.menuIcon {
    cursor: pointer;
}

.menu {
    position: absolute;
    left: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: max-content;
    padding: 1rem 2rem;
}

.open {
    display: block;
}

.menu__close {
    width: 40px;
    display: none;
    float: right;
}

@media screen and (max-width: 768px) {
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 0.5rem 1rem;
    }
    .menu__close {
        display: block;
    }
}
