.navigation {
    display: flex;
    text-transform: uppercase;
    right: 0;
    padding: 16px 0;
    width: 175px;
}

.navigation a:last-child:after {
    display: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation__right {
    margin-left: auto;
}

.navigation__left {
    margin-right: auto;
}

.navigation__disabled {
    text-decoration: line-through;
    pointer-events: none;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .navigation {
        top: unset;
        bottom: -40px;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    .navigation a:after {
        display: none;
    }
    .navigation__split {
        display: none;
    }
}
