.masonry {
    column-gap: 1rem;
}

.masonry__item {
    display: flex;
    margin: 0 auto 1rem auto;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.masonry__item__image {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .masonry {
        column-count: 1;
    }
}

@media screen and (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

@media screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
}

@media screen and (min-width: 1280px) {
    .masonry {
        column-count: 4;
    }
}

@media screen and (min-width: 1536px) {
    .masonry {
        column-count: 5;
    }
}
