.breadcrumb {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: 5px;
    padding: 5px 0 35px 16px;
}

.breadcrumb a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.breadcrumb a:nth-child(2)::before,
.breadcrumb a:nth-child(3)::before {
    content: '/';
    padding-right: 5px;
}

@media (max-width: 768px) {
    .breadcrumb {
        padding: 12px 16px;
    }
}
