.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #000;
    max-height: 50px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.option {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #000;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.option div {
    color: grey;
}

.option:last-child {
    border-bottom: none;
}

.option div {
    display: flex;
    justify-content: center;
    position: relative;
}

.option div > div {
    position: absolute;
    width: max-content;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-decoration: initial;
    color: #000;
    font-weight: 600;
}

.option.selected div {
    color: #000;
    font-weight: 600;
}

.out_of_stock div {
    cursor: not-allowed;
    text-decoration: line-through;
}

.wrapper {
    position: relative;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.modalOpen {
    transform: translateY(0%);
}

.modalContent {
    padding: 30px 16px;
}

.closeIcon {
    float: right;
}

@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        top: unset;
        bottom: 60px;
        width: 100%;
        visibility: hidden;
        transform: unset;
        max-height: calc(16px + 40px * 4 - 1px);
        overflow-y: scroll;
    }

    .modalContent:has(.container > div:nth-child(5))::before {
        content: '↓';
        position: absolute;
        top: 100px;
        left: 10px;
    }

    .modalContent:has(.container > div:nth-child(5))::after {
        content: '↑';
        position: absolute;
        top: 100px;
        right: 10px;
    }

    .modalContent {
        padding: 16px 32px 0;
    }
    .modalOpen {
        visibility: visible;
    }
    .closeIcon {
        display: none;
    }
}
