.pdp {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 3rem;
    margin-right: 3rem;
}

.pdp__image {
    position: relative;
    height: fit-content;
}

.pdp__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 0.7/1;
}

.pdp__info {
    padding: 5px 0;
}

.pdp__price {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pdp__price__vat {
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.pdp__name {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.pdp__name {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pdp__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .pdp {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        padding: 0 1rem;
        margin-right: 0;
        gap: 1rem;
    }
    .pdp__name,
    .pdp__description {
        display: none;
    }
    .pdp__price,
    .pdp__price__vat {
        text-align: center;
    }
    .pdp__price {
        font-size: 1.4rem;
    }
}
