.pdp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 1200px;
    min-height: 100vh;
}

.pdp__image {
    aspect-ratio: 0.7/1;
}

.pdp__info {
    padding: 2rem;
}

@media (max-width: 768px) {
    .pdp {
        grid-template-columns: 1fr;
        height: auto;
    }
    .pdp__image {
        aspect-ratio: 0.7/1;
    }
}
