.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}
