.cart {
    position: relative;
}

.cart__dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    min-height: 100vw;
    height: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    background-color: #fff;
    transform: translateX(100%);
    transition: all 0.3s ease;
}

.open {
    transform: translateX(0);
}

@media screen and (max-width: 768px) {
    .cart__dialog {
        width: 100vw;
        max-height: initial;
        padding: 0 1rem 2rem;
        background-color: #fff;
        z-index: 2;
    }
}

.cart__dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.cart__dialog__header {
    display: grid;
    grid-template-columns: 1fr 50px 50px 68px 26px;
    gap: 10px;
    padding: 10px 0;
}

.cart__dialog__title {
    font-size: 2em;
    font-weight: 400;
}

.cart__dialog main {
    display: grid;
    gap: 10px;
    max-height: 310px;
    overflow-y: auto;
    padding-bottom: 3px;
}

.cart__dialog::-webkit-scrollbar {
    width: 0px;
}

.cart__dialog main:has(> div:nth-child(11)) + footer::before {
    content: '* más productos haciendo scroll';
    position: absolute;
    top: -20px;
    right: 0;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.cart__dialog__product {
    display: grid;
    grid-template-columns: 1fr 50px 50px 68px 26px;
    align-items: center;
    gap: 10px;
}

.cart__dialog__product__name {
    display: grid;
    grid-template-columns: 1fr;
}

.cart__dialog__product__name > div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__dialog__product__quantity {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
}

.cart__dialog footer {
    margin-top: 2rem;
    position: relative;
}

.cart__dialog__header__price,
.cart__dialog__header__size,
.cart__dialog__product__price,
.cart__dialog__product__size,
.cart__dialog__product__delete {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__total {
    display: grid;
    gap: 5px;
}

.footer__disclaimer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

.footer__disclaimer::before {
    content: '* ';
}

.footer__checkout {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.footer__total__shipping,
.footer__total__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0 2px;
    box-sizing: border-box;
}

.disabled {
    opacity: 0.2;
}
