.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
