.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    margin: 0 1rem 2rem;
    position: relative;
}

.main::-webkit-scrollbar {
    width: 0rem;
}

@media (max-width: 768px) {
    .main {
        margin: 0 0;
        grid-template-rows: 50px 1fr;
    }
}
