.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 0 1rem 2rem;
    position: relative;
    background-color: #f1f1f1;
}

.main::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 768px) {
    .main {
        margin: 0 1rem;
        grid-template-rows: 50px 1fr;
    }
}
