.main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 1rem;
    position: relative;
}

.main::-webkit-scrollbar {
    width: 0rem;
}

@media (max-width: 768px) {
    .main {
        margin: 0 0;
    }
}
